#root {
  width: calc(100%);
  min-height: 100vh;
  margin: 0 auto;
}

body {
  min-height: 100vh;
}

@keyframes fadeInOut {
  0% {
    background-color: rgb(218, 217, 217);
  }
  100% {
    background-color: transparent;
  }
}

.fade-in-out {
  animation: fadeInOut 3s forwards;
}


.mapboxgl-popup {
  width: 20px;
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-tip {
  border-top-color: red !important;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: red !important;
}